* {
    margin: 0;
 padding: 0;
 box-sizing: border-box;

 font-family: 'Fira sans', sans-serif;
}

main {
    padding: 16px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 16px;
}

.has-spacer{
    flex-direction: column;
    display: flex;
    align-items: flex-start;

    .spacer{
        flex: 1 1 0%;
    }
}

.button {
    display: inline-block;
    text-align: center;
    background-color: lightskyblue;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease;
    box-shadow: 1px 1px  black;
    border-radius: 5px;
}

.button:hover{
    background-color: blue;
    box-shadow: 1px 2px 5px black;
}

.flex-grid{
    display: block;
    padding-top: 150px;
   
    @media (min-width: 960px){
     padding-top: 0px;   
    }

   @media (min-width:768px){
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap:wrap;
        margin: 0 -8px;

 
    }

    .col{
        margin-bottom: 20px;
        padding: 15px;
        background-color: salmon;
        border-radius: 10px;

        width: 100%;
@media (min-width: 768px){

    flex: 1 1 100%;
    margin: 0px 8px 16px;
    max-width: calc(50% - 16px);
    min-height: 400px;

    &:nth-child(2n-1){
        margin-top: -100px;
        margin-bottom: 100px;
    }
}

@media (min-width: 960px){
    max-width: calc(33% - 16px);
    &:nth-child(2n-1){
        margin-top: 0px;
    }

    }

    @media (min-width: 1200px){
        max-width: calc(25% - 16px);
    
        }


}}

.align-self-end{
    align-self: flex-end;
}